@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url("carrossel.css");

:root {
    --cor-vidro: #f6f6f60e;
    --cor-fundo: #000000;
    --cor-texto: #f6f6f6;
    --cor-texto-2: #000000;
    --cor-destaque: #60865e;
    --cor-link-fundo-claro: #6e996c;
    --tamanho-titulo: 2rem;
    --tamanho-texto: 1rem;
    --tamanho-texto-2: 0.8rem;
    --transicao-link: 0.3s
}


body {
    background-color: #000000;
    font-family: 'Courier Prime', monospace;
    color: var(--cor-texto);
}

.bg {
    animation:slide 20s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg,  #1a241a 50%, #080b08 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:22s;
}

.bg3 {
    animation-duration:24s;
}

@keyframes slide {
    0% {
    transform:translateX(-25%);
    }
    100% {
    transform:translateX(25%);
    }
}

.cabecalho {
    z-index: 2;
    padding: 1%;
    position: fixed;
    width: 97%;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
}

.container__menu {
    background: var(--cor-vidro);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    padding: 1.5%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cabecalho__menu__link {
    font-size: var(--tamanho-texto);
    font-weight: bold;
    color: var(--cor-link-fundo-claro);
    text-decoration: none;
    transition: var(--transicao-link);
}

.cabecalho__menu__link:hover {
    color: var(--cor-texto);
}

.titulo-destaque {
    color: var(--cor-destaque);
    font-size: var(--tamanho-titulo);
    margin-top: 10%;
}

.apresentacao__foto {
    width: 30%;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.apresentacao {
    padding: 10% 20%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 50%;
}

.apresentacao__conteudo__titulo {
    font-size: var(--tamanho-titulo);
}

.apresentacao__conteudo__texto {
    font-size: var(--tamanho-texto);
}

.apresentacao__links {
    font-size: var(--tamanho-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
    width: 15rem;
}

.apresentacao__links_subtitulo{
    font-weight: 400;
}

.apresentacao__links__redes {
    background: var(--cor-vidro);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);

    display: flex;
    justify-content: center;
    color: var(--cor-texto);
    border-radius: 100px;
    font-size: var(--tamanho-texto);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    gap: 0.5rem;
    width: 100%;
    padding: 21.5px 0;
    transition: background var(--transicao-link);
}

.apresentacao__icones {
    width: 1rem;
}

.apresentacao__links__redes:hover {
    background-color: var(--cor-destaque);
}

.rodape {
    display: flex;
    justify-content: center;
    color: var(--cor-texto);
    padding: 2%;
    font-size: var(--tamanho-texto-2);
    gap: 1.5rem;
    
}

.rodape__conteudo {
    background: var(--cor-vidro);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    text-align: center;
    padding: 2%;
    width: 55rem;
}

.creditos__link:hover {
    color: var(--cor-texto);
}

.link__padrao {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-link-fundo-claro);
    transition: var(--transicao-link);
}

.link__padrao:hover {
    color: var(--cor-texto);
}

@media (max-width: 920px) {

    .cabecalho {
        padding: 2%;
    }

    .container__menu {
        width: 80%;
        padding: 3%;
    }

    .cabecalho__menu__link {
        font-size: 0.7rem;
    }

    .apresentacao {
        padding: 30% 5%;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .apresentacao__conteudo_inicial {
        width: auto;
    }

    .apresentacao__conteudo {
        width: auto;
        align-items: center;
    }

    .apresentacao__foto {
        width: 35%;
        border-radius: 100px;
    }

    .rodape {
        font-size: 0.5rem;
        padding: 5%;
    }
}