@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root {
    --cor-vidro: #f6f6f60e;
    --cor-fundo: #000000;
    --cor-texto: #f6f6f6;
    --cor-texto-2: #000000;
    --cor-destaque: #60865e;
    --cor-link-fundo-claro: #60865e;
    --tamanho-titulo: 2rem;
    --tamanho-texto: 1rem;
    --tamanho-texto-2: 0.8rem;
    --transicao-link: 0.3s
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh;*/
    box-sizing: border-box;
    overflow: auto;
    background: linear-gradient(315deg, #222f21 50%, #000000 50%);
    animation: gradient 20s ease infinite;
    background-size: 200% 200%;
    background-attachment: fixed;
    color: var(--cor-texto);
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.cabecalho {
    padding: 1%;
    display: flex;
    justify-content:center;
}

.cabecalho__menu {
    background: var(--cor-vidro);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);

    display: flex;
    justify-content:center;
    gap: 2.5rem;
    padding: 1%;
    width: 25rem;

}

.cabecalho__menu__link {
    font-family: 'Courier Prime', monospace;
    font-size: var(--tamanho-texto);
    font-weight: bold;
    color: var(--cor-link-fundo-claro);
    text-decoration: none;
    transition: var(--transicao-link);
}

.cabecalho__menu__link:hover {
    color: var(--cor-texto);
}

.titulo-destaque {
    color: var(--cor-destaque);
    font-size: var(--tamanho-titulo);
    margin-top: 10%;
}

.apresentacao__foto {
    width: 30%;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.apresentacao {
    padding: 10% 20%;
    font-family: 'Courier Prime', monospace;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 50%;
}

.apresentacao__conteudo__titulo {
    font-size: var(--tamanho-titulo);
}

.apresentacao__conteudo__texto {
    font-size: var(--tamanho-texto);
}

.apresentacao__links {
    font-size: var(--tamanho-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
}

.apresentacao__links_subtitulo{
    font-weight: 400;
}

.apresentacao__icones {
    width: 0.9rem;
}

.apresentacao__links__redes {
    background: var(--cor-vidro);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);

    color: var(--cor-texto);
    border-radius: 100px;
    font-size: var(--tamanho-texto);
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    width: 90%;
    padding: 15px 0;
    transition: background var(--transicao-link);
}

.apresentacao__links__redes:hover {
    background-color: var(--cor-destaque);
}

.rodape {
    display: flex;
    justify-content: center;
    font-family: 'Courier Prime', monospace;
    color: var(--cor-texto);
    padding: 2%;
    font-size: var(--tamanho-texto-2);
    
    gap: 1.5rem;
    
}

.rodape__conteudo {
    background: var(--cor-vidro);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);

    text-align: center;
    padding: 2%;
    width: 55rem;
}

.creditos__link:hover {
    color: var(--cor-texto);
}

.link__padrao {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-link-fundo-claro);
    transition: var(--transicao-link);
}

.link__padrao:hover {
    color: var(--cor-texto);
}

@media (max-width: 920px) {

    .cabecalho {
        padding: 8%;
    }

    .cabecalho__menu {
        padding: 5%;
    }

    .cabecalho__menu__link {
        font-size: 0.8rem;
    }

    .apresentacao {
        padding: 5%;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .apresentacao__conteudo_inicial {
        width: auto;
    }

    .apresentacao__conteudo {
        width: auto;
    }


    .apresentacao__foto {
        width: 35%;
        border-radius: 100px;
    }

    .rodape {
        font-size: 0.5rem;
        padding: 5%;
    }
}