.carrossel {
    padding: 5rem;

}

.carrossel__conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}


.swiper {
    width: 50rem;
    height: 20rem;
}

.swiper-slide img {
    margin: 3% 14%;
    display: flex;  
    width: 70%;
}

div.swiper-button-prev,
div.swiper-button-next {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--azul);
    width: 50px;
    height: 50px;
    border-radius: 24px;
    color: var(--branco);
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card {
    width: 30%;
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

.card__botões {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

.botões {
    display: flex;
}

.descrição__titulo {
    color: var(--laranja);
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição__texto {
    font-size: 14px;
}

.botões__item {
    margin: 0.5em;
}

.botões__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

@media (max-width: 920px) {
    .carrossel {
        padding: 0;
    
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    .swiper-slide img {
        margin: 0% 0%;
        display: block;  
        width: 100%;
    }

    .carrossel__conteudo {
        display: block;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .card {
        width: 84%;
    }
    
}   
