hr {
    margin: 0;
}

.rodapé {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodapé {
    display: none;
}

.dev {
    margin: 5em 7em 1em 7em;
}

.dev__link {
    text-decoration: none;
    transition: color var(--transição);
    color: var(--preto);
}

.dev__link:hover {
    color: var(--laranja);
}

@media screen and (min-width: 1024px) {
    .lista-rodapé {
        display: block;
    }

    .rodapé__conteudo {
        display: flex;
        justify-content: space-around;
    }

    .rodapé__titulo {
        font-size: 24px;
    }

    .lista-rodapé__item {
        display: flex;
        align-items: center;
        margin: 0.9em;
    }

    .lista-rodapé__link {
        margin-left: 0.6em;
        color: var(--cinza);
        text-decoration: none;
        transition: color var(--transição);
    }

    .lista-rodapé__link:hover {
        color: var(--laranja);
    }

    .lista-rodapé-__titulo {
        font-size: 14px;
        margin: 0.9em;
        color: var(--cinza-claro);
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodapé {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodapé {
        padding: 3em 0;
    }
}